@font-face {
    font-family: 'Press Start 2P';
    src: url(../font/PressStart2P-Regular.woff2) format('woff2');
    font-display: swap
}

a {
    text-decoration: none
}

body {
    margin: 0px;
    background-color: #00bff3;
}

#button {
    position: relative;
    width: 406px;
    background-color: #ed1c24;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Press Start 2P', monospace;
    color: #ffffff;
    font-size: 22px;
    margin-left: auto;
    margin-right: auto;
}

#center {
    position: absolute;
    width: 800px;
    height: 370px;
    left: 50%;
    top: 50%;
}

#container {
    position: relative;
    width: 800px;
    height: 370px;
    left: -50%;
    top: -50%;
    text-align: center;
}

#container-404 {
    position: relative;
    width: 608px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.four {
    position: relative;
    width: 200px;
    height: 204px;
    font-family: 'Press Start 2P', monospace;
    color: #ffffff;
    font-size: 180px;
    float: left;
}

.zero {
    position: relative;
    width: 200px;
    height: 204px;
    font-family: 'Press Start 2P', monospace;
    color: #ffffff;
    font-size: 180px;
    float: left;
}

img {
    border-style: none;
}

#text {
    position: relative;
    font-family: 'Press Start 2P', monospace;
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 30px;
}

@media (max-width: 850px) {
    #center {
        width: 90%;
        height: auto;
        position: static;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }
    #container {
        width: 100%;
        height: auto;
        position: static;
    }
    #container-404 {
        width: 100%;
        height: auto;
    }
    .four, .zero {
        width: auto;
        height: auto;
        top: 0;
        left: 0;
        font-size: 25vw;
        float: none;
        display: inline;
    }
    #text {
        font-size: 5vw;
        padding: 0 10px;
    }
    #button {
        width: auto;
        max-width: 90%;
        font-size: 5vw;
        padding: 15px 20px;
    }
}