a {
    text-decoration: none
}

body {
    margin: 0px;
    background-color: #00bff3;
}

#button {
    position: relative;
    width: 406px;
    background-color: #ed1c24;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Bangers', sans-serif;
    letter-spacing: 1px;
    color: #ffffff;
    font-size: 36px;
    margin-left: auto;
    margin-right: auto;
}

#center {
    position: absolute;
    width: 800px;
    height: 370px;
    left: 50%;
    top: 50%;
}

#container {
    position: relative;
    width: 800px;
    height: 370px;
    left: -50%;
    top: -50%;
    text-align: center;
}

img {
    border-style: none;
}

#text {
    position: relative;
    font-family: 'Jersey 15', sans-serif;
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 30px;
}

@font-face {
    font-family: 'Bangers';
    src: url(../font/Bangers-Regular.woff2) format('woff2');
    font-display: swap
}

@font-face {
    font-family: 'Jersey 15';
    src: url(../font/Jersey15-Regular.woff2) format('woff2');
    font-display: swap
}
